<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/weather.png">
    
     <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>

<body>
  <div class="main-content">

  {{>header}}
  <h3>I am Nirali Vaghela</h3>
  <h5>Software Trainee at Simform Solutions </h5>
  <h5>Created this website for fetching weather details of different locations.</h5></div>
   {{>footer}}
 
</body>

</html>