<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
     
     <link rel="stylesheet" href="/css/style.css">
    <title>Help</title>
</head>
<body>
    <div class="main-content">

 {{>header}}
 <img src="/img/help.gif" alt="helping GIF" >
    </div>

     {{>footer}}
    {{!-- <h2>{{title}}</h2> --}}
</body>
</html>