<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/weather.png">
     <link rel="stylesheet" href="/css/style.css">
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather!</p>
      <form>
            <input placeholder="Location">
            <button>Search</button>
    </form> 
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}
    <script  src="/js/script.js"></script>
</body>

</html>